fastapi==0.115.12
uvicorn==0.34.2
websockets==15.0.1
bleak==0.22.3
numpy==2.2.4
scipy==1.15.2
mne==1.9.0
heartpy==1.2.7
psutil==7.0.0
python-dotenv==1.1.0
python-multipart==0.0.6
importlib-metadata==8.7.0
jaraco.classes==3.4.0
jaraco.functools==4.2.1
jaraco.context==6.0.1
